.order__form{
    display: none;
}
.order__form--active{
    display: block;
}
.bxOrder__tab_block5{
    display: none;
}
.bxOrder__tab_block5--active{
    display: block;
}


/* orderPage STYLE */
.orderPage__content {
    background: #fff;
    font-size: 18px;
    line-height: 1.5;
    padding: 60px 30px; }
.orderPage__content a {
    color: #007FC3; }

.orderPage__title {
    text-align: center;
    margin-bottom: 30px;
    color: #46bb90; }

.orderPage__mainMessage {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; }

.orderPage__subMess {
    color: #616161;
    width: 60%;
    margin: 0 auto 30px; }
.orderPage__subMess li {
    list-style: circle; }

.orderPage__actions {
    text-align: center; }

